.listHeaderContainer {
  display: flex;
  justify-content: space-between;

  margin: 4rem auto 1.5rem;
  width: 100%;
  max-width: 736px;
}

.createdTasks p,
.finalizedTasks p {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
}

.createdTasks p {
  color: var(-blue);
}

.finalizedTasks p {
  color: var(--purple);
}

.createdTasks span,
.finalizedTasks span {
  padding: 2px 0.5rem;
  margin-left: 8px;

  background: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-100);
  font-size: 0.75rem;
  font-weight: 700;
}
