.input {
  padding: 1rem;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--gray-100);
}

.input:focus,
.input:focus-visible {
  outline: 1px solid var(--purple-dark);
}

.input::placeholder {
  color: var(--gray-300);
}
