.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin: 0 auto;
  width: 100%;
  max-width: 756px;
  height: 3.375rem;

  transform: translateY(-50%);
}

.inputContainer input {
  padding: 1rem;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--Gray-700, #0d0d0d);
  background: var(--Gray-500, #262626);
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 1rem;
  border-radius: 8px;
  background: var(--Blue-Dark, #1e6f9f);
  border: none;

  color: var(--gray-100);
  font-weight: 700;
}
