.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin: -1.688rem auto 0;
  width: 100%;
  max-width: 736px;
  height: 3.375rem;
}

.inputContainer > input {
  padding: 1rem;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
}

.inputContainer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 1rem;
  border-radius: 8px;
  background: var(--blue-dark);
  border: none;

  color: var(--gray-100);
  font-weight: 700;
}
