.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin: -1.688rem auto 0;
  padding: 0 1rem;
  width: 100%;
  max-width: 736px;
  height: 3.375rem;
}

@media (min-width: 768px) {
  .inputContainer {
    padding: 0;
  }
}

.inputContainer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 1rem;
  border-radius: 8px;
  background: var(--blue-dark);
  border: none;

  color: var(--gray-100);
  font-weight: 700;

  transition: background 0.2s;
}

.inputContainer > button:hover {
  background: var(--blue);
}

.listContainer {
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .listContainer {
    padding: 0;
  }
}
